{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous etes connecté en tant que {{ app.user.userIdentifier }}, cliquez ici pour vous  <a href="{{ path('app_logout') }}">Déconnecter</a>.
            </div>

        {% else %}
            <div class="centrer">
        <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
        <label for="username">Mail ou Pseudo</label>
        <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="username" required autofocus>
        <label for="password">Mot de Passe</label>
        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
            <div class="checkbox mb-3">
                <input type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">Se souvenir de moi</label>
            </div>


        <button class="btn btn-lg btn-primaire zoom" type="submit">
            Se connecter
        </button>
                <a class="centrer btn btn-secondaire" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
            </div>
        {% endif %}
    </form>
{% endblock %}
