{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block body %}

    {% if app.user %}
    <div class="mb-3">
        Vous etes connecté en tant que {{ app.user.userIdentifier }}, cliquez ici pour vous  <a href="{{ path('app_logout') }}">Déconnecter</a>.
    </div>

    {% else %}

    <h1>Entrez votre nouveau mot de passe</h1>
    <div class="centrer">
    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primaire zoom">Confirmer</button>
    {{ form_end(resetForm) }}
    </div>

    {% endif %}
{% endblock %}
