{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur Sortie.com !</h1>

    <h2>Filtrer les sorties</h2>
    {{ form_start(formulaire_filtres, {'attr': {'class':'formulaire-filtre'}}) }}
    {{ form_row(formulaire_filtres.campus) }}
    <div class="flex">
        <div>
            {{ form_row(formulaire_filtres.nomSortie) }}
            {{ form_row(formulaire_filtres.dateDebutSortie) }}
            {{ form_row(formulaire_filtres.dateFinSortie) }}

        </div>
        <div class="container-checkbox">
            {{ form_row(formulaire_filtres.estOrganisateur) }}
            {{ form_row(formulaire_filtres.estInscrit) }}
            {{ form_row(formulaire_filtres.nonInscrit) }}
            {{ form_row(formulaire_filtres.sortiesPassees) }}
            <button type="submit" class="btn btn-secondaire">Filtrer</button>
        </div>
    </div>
    {{ form_end(formulaire_filtres) }}


    <table class="liste-sorties">
        <thead>
        <tr>
            <th>Campus</th>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% if sorties != null %}
            {% include 'inc/liste_sorties.html.twig' %}
        {% else %}
            <tr>
                <td colspan="9">Aucune sortie</td>
            </tr>
        {% endif %}
        </tbody>
    </table>



        <div class="pagination">
            <p>Sorties trouvées : {{ sorties|length }}</p>

            <div class="flex">
                {% if previous >= 0 %}
                    <a href="{{ path('sortie_liste', app.request.query.all | merge({'offset': previous})) }}">Précédent</a>
                {% endif %}

                {% if next < sorties|length %}
                    <a href="{{ path('sortie_liste', app.request.query.all | merge({'offset': next})) }}">Suivant</a>
                {% endif %}
            </div>
        </div>

    <div class="btn-creer">
        <button class="btn btn-secondaire">
            <a href="{{ path('sortie_creer') }}">Créer une sortie</a>
        </button>
    </div>

{% endblock %}

{% block title %}
    Accueil | Sortie.com
{% endblock %}
