{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur Sortie.com !</h1>
    <h2>Filtrer les sorties</h2>
    {{ form_start(formulaire_filtres, {'attr': {'class':'formulaire-filtre'}}) }}
    {{ form_row(formulaire_filtres.campus) }}
    <div class="flex">
        <div>
            {{ form_row(formulaire_filtres.nomSortie) }}
            {{ form_row(formulaire_filtres.dateDebutSortie) }}
            {{ form_row(formulaire_filtres.dateFinSortie) }}

        </div>
        <div class="container-checkbox">
            {{ form_row(formulaire_filtres.estOrganisateur) }}
            {{ form_row(formulaire_filtres.estInscrit) }}
            {{ form_row(formulaire_filtres.nonInscrit) }}
            {{ form_row(formulaire_filtres.sortiesPassees) }}
            <button type="submit" class="btn-secondaire">Filtrer</button>
        </div>
    </div>
    {{ form_end(formulaire_filtres) }}

    <table class="liste-sorties">
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
        <tr>
            <td>{{ sortie.nom }}</td>
            <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
            <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
            <td>{{ sortie.participants.count()}}/{{ sortie.nbInscriptionsMax }}</td>
            <td>{{ sortie.etat.libelle.value }}</td>
            <td>{% if sortie.participants.contains(app.user) %} X {% endif %}</td>
            <td>{{ sortie.organisateur.prenom }}.{{ sortie.organisateur.nom|first }}</td>
            <td>
                <div class="flex">
                    <a href="">Afficher</a>
                    {#
                    <a href="">S'inscrire</a>
                    <a href="">Se desister</a>
                    <a href="">Modifier</a>
                    <a href="">Publier</a>
                    <a href="">Annuler</a>
                    #}
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block title %}
    Accueil | Sortie.com
{% endblock %}

