<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <meta name=viewport content="width=device-width, initial-scale=1">

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>

<header>
    <div class="container">
        <a href="{{ path('sortie_liste') }}" class="logo">Sortir.com</a>
        {% if app.user %}
        <nav>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="">Villes</a>
                <a href="{{ path('admin_campus_gerer') }}">Campus</a>
                <a href="{{ path('admin_utilisateurs') }}">Utilisateurs</a>
            {% endif %}
            <a href="{{ path('sortie_liste') }}">Accueil</a>
            <a href="{{ path('participant_details', {'id':app.user.id}) }}">Mon profil</a>
            <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </nav>
        {% endif %}
    </div>
</header>
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-message flash-{{ type }}">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endfor %}
{% if app.user %}
    <div class="container">
        <div class="infoUtilisateurConnecte">
            <div>
                <p>Date du jour: {{ "now"|date('d/m/Y') }}</p>
                <p>Participant: {{ app.user.prenom }}.{{ app.user.nom|first }}</p>
            </div>
        </div>
    </div>
{% endif %}
<main>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</main>

<footer>
    <div class="container">
        <p>&copy; {{ "now"|date("Y") }} Sortir.com - Réalisé par Anthony, Chloé, Axel et Laura</p>
    </div>
</footer>
{% block js %}{% endblock %}
</body>
</html>
