{% for sortie in sorties %}
    <tr>
        <td>{{ sortie.campus.nom }}</td>
        <td>{{ sortie.nom }}</td>
        <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
        <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
        <td>{{ sortie.participants|length }}/{{ sortie.nbInscriptionsMax }}</td>
        <td>{{ sortie.etat.libelle.value }}</td>
        <td>{% if sortie.participants.contains(app.user) %} X {% endif %}</td>
        <td>{{ sortie.organisateur.prenom }}.{{ sortie.organisateur.nom|first }}</td>
        <td>
            <div class="flex-actions">
                {% if sortie.etat.libelle.value != 'Créée' and sortie.etat.libelle.value != 'Activité passée' %}
                    <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a>
                {% endif %}

                {% if sortie.etat.libelle.value == 'Créée' and sortie.organisateur == app.user %}
                    <a href="">Modifier</a>
                    <a href="{{ path('sortie_publier', {'id': sortie.id}) }}">Publier</a>
                    <a href="{{ path('sortie_supprimer', {'id': sortie.id}) }}">Supprimer</a>
                {% endif %}

                {% if sortie.participants.contains(app.user) %}
                    <a href="{{ path('se_desister', {'id': sortie.id}) }}">Se désister</a>
                {% else %}
                    {% if sortie.etat.libelle.value == 'Ouverte' and sortie.dateLimiteInscription >= 'now' and sortie.participants|length < sortie.nbInscriptionsMax and sortie.organisateur != app.user %}
                        <a href="{{ path('inscrire', {'id': sortie.id}) }}">S'inscrire</a>
                    {% endif %}
                {% endif %}

                {% if sortie.etat.libelle.value == 'Ouverte' and sortie.organisateur == app.user %}
                    <a href="{{ path('sortie_annuler', {'id': sortie.id }) }}">Annuler</a>
                {% endif %}
            </div>
        </td>
    </tr>
{% endfor %}
