<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <meta name=viewport content="width=device-width, initial-scale=1">

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<header>
    <img src="{{ asset('images/logo.png') }}" alt="Logo" />
    <h1>Mes sorties:</h1>
</header>

<table>
    <thead>
    <tr>
        <th>Nom de la sortie</th>
        <th>Date de la sortie</th>
        <th>Lieu</th>
    </tr>
    </thead>
    <tbody>
    {% for sortie in sorties %}
        <tr>
            <td><a href="{{ path('sortie_detail', { id: sortie.id }) }}">{{ sortie.nom }}</a></td>
            <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
            <td>{{ sortie.lieu.nom }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">Aucune sortie trouvée</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
