{% for sortie in sorties %}
    <tr>
        <td>{{ sortie.campus.nom }}</td>
        <td>{{ sortie.nom }}</td>
        <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
        <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
        <td>{{ sortie.participants.count() }}/{{ sortie.nbInscriptionsMax }}</td>
        <td>{{ sortie.etat.libelle.value }}</td>
        <td>{% if sortie.participants.contains(app.user) %} X {% endif %}</td>
        <td>{{ sortie.organisateur.prenom }}.{{ sortie.organisateur.nom|first }}</td>
        <td>
            <div class="flex">
                {% if sortie.etat.libelle != 'Créée' and sortie.etat.libelle != 'Activité passée' %}
                    <a href="">Afficher</a>
                {% endif %}

                {% if sortie.etat.libelle == 'Créée' and sortie.organisateur == app.user %}
                    <a href="">Modifier</a>
                    <a href="">Publier</a>
                    <a href="">Supprimer</a>
                {% endif %}

                {% if sortie.etat.libelle == 'Cloturee' and sortie.dateHeureDebut < 'now' and sortie.participants.contains(app.user) %}
                    <a href="">Se desister</a>
                {% endif %}

                {% if sortie.etat.libelle == 'Ouverte' %}
                    {% if sortie.organisateur != app.user %}
                        {% if sortie.participants.contains(app.user) %}
                            <a href="">Se desister</a>
                        {% else %}
                            <a href="">S'inscrire</a>
                        {% endif %}
                    {% elseif sortie.organisateur == app.user or is_granted('ROLE_ADMIN') %}
                        <a href="">Annuler</a>
                    {% endif %}
                {% endif %}
            </div>
        </td>
    </tr>
{% endfor %}


