{% for sortie in sorties %}

    <tr>
        <td>{{ sortie.campus.nom }}</td>
        <td>{{ sortie.nom }}</td>
        <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
        <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
        <td>{{ sortie.participants.count() }}/{{ sortie.nbInscriptionsMax }}</td>
        <td>{{ sortie.etat.libelle.value }}</td>
        <td>{% if sortie.participants.contains(app.user) %} X {% endif %}</td>
        <td><a href="{{ path('participant_details', {'id':sortie.organisateur.id}) }}">{{ sortie.organisateur.prenom }}.{{ sortie.organisateur.nom|first }}</a></td>
        <td>
            <div class="flex-actions">
                {% if is_granted("view", sortie) %}
                    <a href="{{ path('sortie_detail', {'id':sortie.id}) }}">Afficher</a>
                {% endif %}

                {% if is_granted("manage", sortie) %}
                    <a href="{{ path('sortie_modifier', {'id':sortie.id}) }}">Modifier</a>
                    <a href="{{ path('sortie_publier', {'id':sortie.id}) }}">Publier</a>
                    <a href="{{ path('sortie_supprimer', {'id':sortie.id}) }}">Supprimer</a>
                {% endif %}

                {% if is_granted("unsubscribe", sortie) %}
                    <a href="{{ path('se_desister', {'id': sortie.id}) }}">Se desister</a>
                {% endif %}

                {% if is_granted("subscribe", sortie) %}
                    <a href="{{ path('inscrire', {'id': sortie.id}) }}">S'inscrire</a>
                {% endif %}

                {% if is_granted("cancel", sortie) %}
                    <a href="{{ path('sortie_annuler', {'id':sortie.id }) }}">Annuler</a>
                {% endif %}
            </div>
        </td>
    </tr>

{% endfor %}
